body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ededf7;
  }

  .container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
  }

  h1 {
    text-align: center;
  }

  form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }

  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 300px;
  }

  button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #ffd61d;
    color: rgb(1, 1, 1);
    border-radius: 5px;
  }

  button:hover {
    background-color: #f5ea1d;
  }

  .lanes {
    display: flex;
    gap: 20px;
  }

  .lane {
    flex: 1;
    background-color: rgb(251, 218, 151);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .lane h2 {
    text-align: center;
    margin-top: 0;
  }

  .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #efca63;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .task button {
    background-color: #adaeac;
  }

  .task button:hover {
    background-color: #60ee39;
  }